<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrinho</title>
  <link rel="stylesheet" href="css/carrinho.css">
</head>

<body>

  <header id="top">
    <a href="#"><img src="img/LogoRosa.png" alt="Gato" class="logo"></a>
    <a href="#"><img src="img/TextoLogoRosa.png" alt="PixelCat" class="logo"></a>
    <nav>
      <a href="#" class="tab"><img src="img/icHomeW.png" alt=""></a>
      <a href="#" class="tab"><img src="img/icStoreW.png" alt=""></a>
      <a href="#" class="tab" id="openCartButton"><img src="img/icCartW.png" alt=""></a>
    </nav>
    <div class="pesquisa">
      <input type="text" name="query" id="query">
    </div>
    <nav>
      <a href="#" class="tab"><img src="img/icUserW.png" alt="" id="user"></a>
    </nav>
  </header>

  <div class="wrap cf">
    <div class="heading cf">
      <h1>Carrinho</h1>
    </div>
    <div class="cart">
      <ul class="cartWrap">
        <% cart.forEach(function(item) { %>
        <li class="items even">
          <div class="infoWrap">
            <div class="cartSection">
              <img src="img/<%= item.imagem_prod %>" alt="" class="itemImg">
              <p class="itemName"><%= item.nome_prod %></p>
              <p>
                <input type="text" class="qty" placeholder="Qtd" value="<%= item.quantidade_prod %>">
              </p>
                <% if(item.precoDesconto_prod){ %>
                  <p>R$<%= item.precoDesconto_prod * item.quantidade_prod %></p>
                <% }else{ %>
                  <p>R$<%= item.preco_prod * item.quantidade_prod %></p>
                <% } %>
            </div>
            <div class="cartSection removeWrap">
              <form method="post" action="/remove_product">
                <input type="hidden" name="id_prod" value="<%= item.id_prod %>">
                <button type="submit" class="remove" value="x">
              </form>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
    <div class="subtotal cf">
      Total:<br> <span class="price">R$<%= total %></span>
    </div>
    <br>
        <li class="totalRow"><a href="#" class="btn continue">Comprar</a>
    
  </div>

  <script src="carrinho.js"></script>
</body>

</html>